[home="true"] {
  .dumi-default-doc-layout>main {
    padding: 0px;
    max-width: 100% !important;
  }

  .dumi-default-header {
    background-color: transparent !important;
  }

  .dumi-default-navbar li a {
    color: white !important;
  }

  .dumi-default-logo {
    color: white;
  }

  .dumi-default-search-bar input {
    background-color: white !important;
    border: 1px solid #d9d9d9 !important;
  }

  .dumi-default-search-shortcut {
    border: 1px solid #d9d9d9 !important;
  }

  .dumi-default-search-bar input::placeholder {
    color: #bbb;
  }
}



.home-page {
  font-size: 14px;
  margin-top: -76px;
  color: white;

  .banner {
    margin-right: auto;
    margin-left: auto;
    // position: absolute;
    // top: 0px;
    // right: 0px;
    // width: 100%;

    a {
      text-decoration: none;
      list-style: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }

    .center-title {
      font-weight: bold;
      font-size: 100px;
      margin-top: 8rem;
      display: block;
      align-content: center;
      color: white;
    }

    .center-small-text {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
    }

    .des {
      margin-top: -5rem;
      position: inherit;
      text-align: center;
      margin-left: 10%;
      width: 80%;
    }

    .content {
      display: flow-root;
      text-align: center;
      width: 100%;
      height: 100vh;
      background-repeat: repeat;
      background-position: 50%;

      .content-text {
        font-size: 14px;
        margin-top: 5rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        line-height: 20px;
        margin-left: 30%;
        color: white;
        margin-right: 30%;
      }
    }
  }

  .btn-view {
    margin-top: 50px;

    .btn {
      cursor: pointer;
      text-decoration: none;
      -moz-border-radius: 4px;
      /*Gecko(Firefox内核)浏览器圆角样式*/
      -webkit-border-radius: 30px;
      /*webkit(Chrome内核)浏览器圆角样式*/
      border-radius: 30px;
      /*Trident(IE内核)浏览器圆角样式*/
      color: #df5d2a !important;
      background: #fff;
      padding: 8px 18px 8px 18px !important;
      border: 1px solid #df5d2a;
    }

    // &.dark {
    //   .btn {
    //     color: #9f4522 !important;
    //     background: #141414;
    //     border: 1px solid #9f4522;
    //   }
    // }
  }

  .card {
    .bg {
      background: #fff !important;
      box-shadow: 0px 0px 100px 1PX #f8f8f7;
    }

    .card-item {
      display: inline-block;
      text-align: center;
      width: 33.33%;
      margin-right: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }

    .img {
      width: 4rem;
      height: 4rem;
    }

    .big-font {
      display: block;
      padding-top: 40px;
      font-size: 30px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #000000;
      line-height: 42px;
    }

    .characteristic-title {
      font-size: 14px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      margin-top: 10px;
      color: #333333;
      display: block;
      line-height: 20px;
    }


    .characteristic-content {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #999999;
      line-height: 17px;
      margin-top: 5px;
    }

    &.dark {
      .bg {
        background: #0a0909 !important;
        box-shadow: 0px 0px 100px 1PX #282828;
      }

      .big-font {
        color: #fff;
      }

      .characteristic-title {
        color: #d1d0d0;
      }

      .characteristic-content {
        color: #8590a0;
      }
    }
  }
}